@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@600&display=swap");


* {
  box-sizing: border-box;
  font-family: "Figtree", sans-serif;
}
body {
  background-color: hsl(47, 88%, 63%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: auto;
  font-size: 16px;
}
.card {
  display: grid;
  max-width: 380px;
  height: 525px;
  padding: 1.25rem;
  border: 1px solid black;
  border-radius: 1rem;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 10px 10px 0px -3px rgba(0, 0, 0, 1);
}
.card > img {
  display: block;
  width: 100%;
  object-fit: cover;
  border-radius: 0.75rem;
}
.card button {
  background-color: hsl(47, 88%, 63%);
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  border-radius: 0.25rem;
  border: none;
}

.card h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

.card p {
  line-height: 1.5;
  color: hsl(0, 0%, 50%);
  padding: 0.5rem 0rem;
  font-weight: 300;
}
.card .pro {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding-top: 1.5rem;
}
.pro img {
  width: 10%;
}
